<div class="container-md">
  <form class="d-flex flex-column gap-3 pt-3" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
      </mat-form-field>

      <mat-form-field>
          <mat-label>Second Name</mat-label>
          <input matInput formControlName="secondName" />
          @if (employeeForm.get('secondName')?.hasError('required')) {
          <mat-error>
              Second Name is required
          </mat-error>
          }
      </mat-form-field>

      <mat-form-field>
          <mat-label>First Surname</mat-label>
          <input matInput formControlName="firstSurname" />
      </mat-form-field>

      <mat-form-field>
          <mat-label>Second Surname</mat-label>
          <input matInput formControlName="secondSurname" />
      </mat-form-field>

      <mat-form-field>
          <mat-label>Document Number</mat-label>
          <input matInput formControlName="documentNumber" />
      </mat-form-field>

      <mat-form-field>
          <mat-label>Document Type</mat-label>
          <input matInput formControlName="documentType" />
      </mat-form-field>

      <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" />
          @if (employeeForm.get('phoneNumber')?.hasError('required')) {
          <mat-error>
              Phone Number is required
          </mat-error>
          }
      </mat-form-field>

      <mat-form-field>
          <mat-label>Office</mat-label>
          <input matInput formControlName="office" />
      </mat-form-field>

      <mat-form-field>
          <mat-label>Extension</mat-label>
          <input matInput formControlName="extension" />
      </mat-form-field>

      <mat-form-field>
          <mat-label>Charge</mat-label>
          <input matInput formControlName="charge" />
      </mat-form-field>

      <mat-form-field>
          <mat-label>Boss</mat-label>
          <input matInput formControlName="boss" />
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit">Submit</button>
  </form>
</div>
