<div class="container-md">
    <form class="d-flex flex-column gap-3 pt-3 " [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput formControlName="code" />
            @if (productForm.get('code')?.hasError('required')) {
            <mat-error>
                Code is required
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>


        <div>
            <app-dashboard-select 
                class="w-100"

                [selectConfig]="{
                    dataId: 'productGamaId',
                    dataName: ['productGamaId','name'],
                    tableName: 'gamas'
                }"

                [dataSelected]="productGamaId"

                (selectChanges)="handleSelectChangeGama($event)"
            
            >
            
            </app-dashboard-select>
        </div>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Stock</mat-label>
            <input matInput formControlName="stock" type="number" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Price Sale</mat-label>
            <input matInput formControlName="priceSale" type="number" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Price Buy</mat-label>
            <input matInput formControlName="priceBuy" type="number" />
        </mat-form-field>

        <div>
            <app-dashboard-select 
                class="w-100"

                [selectConfig]="{
                    dataId: 'supplierId',
                    dataName: ['supplierId', 'name'],
                    tableName: 'proveedores'
                }"

                [dataSelected]="supplierId"

                (selectChanges)="handleSelectChangeProvider($event)"
            
            >
            
            </app-dashboard-select>
        </div>

        <button mat-flat-button color="primary" type="submit">Submit</button>
    </form>

</div>