<div class="p-2">
    <form class="d-flex flex-column gap-3 pt-3" [formGroup]="orderForm">
        <div>
            <app-dashboard-select (selectChanges)="selectData($event)" [selectConfig]="selectConfig"></app-dashboard-select>
        </div>

        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" type="number" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Line Number</mat-label>
            <input matInput formControlName="lineNumber" type="number" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Total Price</mat-label>
            <input matInput formControlName="totalPrice" type="number" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Unit Price</mat-label>
            <input matInput formControlName="unitPrice" type="number" />
        </mat-form-field>

        <button [mat-dialog-close]="orderForm" mat-flat-button color="primary" type="submit">Submit</button>
    </form>
</div>
