<div class="container-fluid pt-3">
    <div>
        <h2 class="text-capitalize">mis {{tableName}}</h2>
    </div>

    <div class="d-flex justify-content-between w-100 pt-3">
        <div>
            <div class="mr-1">
                <button mat-flat-button [matMenuTriggerFor]="beforeMenu">
                    <mat-icon fontIcon="filter_list"></mat-icon>
                    Filtrar
                </button>

                <mat-menu #beforeMenu="matMenu" xPosition="after">
                    <button mat-menu-item [matMenuTriggerFor]="gama">Gama de Productos</button>
                    <button (click)="filterLowStock()" mat-menu-item>Bajo Stock</button>
                </mat-menu>

                <mat-menu #gama="matMenu" xPosition="after">
                    @for (gama of gamas; track $index) {
                    <button (click)="filterByGama(gama.name)" mat-menu-item>{{gama.name}}</button>
                    }

                </mat-menu>
            </div>
            <div class="py-3">
                <mat-chip-set #chipGrid aria-label="Enter keywords">
                    @for (gama of filterGama; track $index) {
                    <mat-chip-row (removed)="removeFilter(gama)">
                        {{gama}}
                        <button matChipRemove aria-label="'remove ' + keyword">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    }
                </mat-chip-set>
            </div>
        </div>

        <div class="d-flex align-items-center">
            <mat-form-field class="remove-wrapper" appearance="outline">
                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar...." #input>
                <mat-icon fontIcon="search" matSuffix></mat-icon>
            </mat-form-field>


            <button class="ms-3 text-capitalize" routerLink="/dashboard/{{tableName}}/agregar" mat-flat-button>
                Agregar {{tableName}}
            </button>


        </div>



    </div>

    <div class="pt-3">
        <app-dashboard-table [tableName]="tableName" (actionClicked)="handleActionClick($event)" [tableData]="tableData"
            [tableHeader]="tableHeader" [filter]="filter"></app-dashboard-table>
    </div>

</div>