<div class="container-md">
    <form class="d-flex flex-column gap-3 pt-3" [formGroup]="officeForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Address Line 1</mat-label>
            <input matInput formControlName="addressLine1" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address Line 2</mat-label>
            <input matInput formControlName="addressLine2" />
        </mat-form-field>

        <div>
            <app-dashboard-select 
                class="w-100"

                [selectConfig]="{
                    dataId: 'cityId',
                    dataName: ['cityId', 'name'],
                    tableName: 'ciudades'
                }"

                [dataSelected]="cityId"

                (selectChanges)="handleSelectChange($event, 'city')"
            
            >
            
            </app-dashboard-select>
        </div>

        <button mat-flat-button color="primary" type="submit">Submit</button>
    </form>
</div>
