<div class="container-md">
    <form class="d-flex flex-column gap-3 pt-3" [formGroup]="transactionsForm" (ngSubmit)="onSubmit()">
        <!-- <mat-form-field>
            <mat-label>Transaction ID</mat-label>
            <input [disabled]="true" matInput formControlName="transactionId" />
            @if (transactionsForm.get('transactionId')?.hasError('required')) {
            <mat-error>
                Transaction ID is required
            </mat-error>
            }
        </mat-form-field> -->

        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" type="number" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Transaction Date</mat-label>
            <input matInput formControlName="transactionDate" type="datetime" />
        </mat-form-field>


        <div>
            <app-dashboard-select 
                class="w-100"
                [selectConfig]="{
                    dataId: 'payMethodId',
                    dataName: ['name'],
                    tableName: 'pay-method'
                }"
                [dataSelected]="payMethod"
                (selectChanges)="handleSelectChange($event, 'payMethod')"
            >
            </app-dashboard-select>
        </div>

        <div>
            <app-dashboard-select 
                class="w-100"
                [selectConfig]="{
                    dataId: 'orderId',
                    dataName: ['orderDate'],
                    tableName: 'pedidos'
                }"
                [dataSelected]="order"
                (selectChanges)="handleSelectChange($event, 'order')"
            >
            </app-dashboard-select>
        </div>

        <button mat-flat-button color="primary" type="submit">Submit</button>
    </form>
</div>
