<div class="container-fluid pt-3">
    <div>
        <h2 class="text-capitalize">mis {{tableName}}</h2>
    </div>

    <div class="d-flex justify-content-between w-100 pt-3">
        <div class="mr-1">
            <button mat-flat-button [matMenuTriggerFor]="beforeMenu">
                <mat-icon fontIcon="filter_list"></mat-icon>
                Filtrar
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="after">
                <button mat-menu-item [matMenuTriggerFor]="city">Buscar Clientes Por ciudad</button>
                <button (click)="filterByOrderStatusPendent()" mat-menu-item>Buscar por Pedidos pendientes</button>
            </mat-menu>

            <mat-menu #city="matMenu" xPosition="after">
                <app-dashboard-select [selectConfig]="
                    {
                        dataId: 'cityId',
                        dataName: 'name',
                        tableName: 'ciudades'

                }" (selectChanges)="filterByCity($event)"></app-dashboard-select>

            </mat-menu>
        </div>

        <div class="d-flex align-items-center">
            <mat-form-field class="remove-wrapper" appearance="outline">
                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar...." #input>
                <mat-icon fontIcon="search" matSuffix></mat-icon>
            </mat-form-field>


            <button class="ms-3 text-capitalize" routerLink="/dashboard/{{tableName}}/agregar" mat-flat-button>
                Agregar {{tableName}}
            </button>


        </div>



    </div>

    <div class="pt-3">
        <app-dashboard-table [tableName]="tableName" (actionClicked)="handleActionClick($event)" [tableData]="tableData"
            [tableHeader]="tableHeader" [filter]="filter"></app-dashboard-table>
    </div>

</div>